<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>af</key>
	<string>Afrikaans</string>    
    <key>sq</key>
	<string>Albanian</string>
    <key>ar</key>
    <string>Arabic</string>
    <key>be</key>
    <string>Belarusian</string>
    <key>bg</key>
    <string>Bulgarian</string>
    <key>ca</key>
	<string>Catalan</string>
    <key>zh-CN</key>
	<string>Chinese Simplified</string>
    <key>zh-TW</key>
	<string>Chinese Traditional</string>
    <key>hr</key>
	<string>Croatian</string>
    <key>cs</key>
	<string>Czech</string>
    <key>da</key>
	<string>Danish</string>
    <key>nl</key>
	<string>Dutch</string>
    <key>en</key>
	<string>English</string>
    <key>et</key>
	<string>Estonian</string>
    <key>tl</key>
	<string>Filipino</string>
    <key>fi</key>
	<string>Finnish</string>
    <key>fr</key>
	<string>French</string>
    <key>gl</key>
	<string>Galician</string>
    <key>de</key>
	<string>German</string>
    <key>el</key>
	<string>Greek</string>
    <key>ht</key>
	<string>Haitian Creole</string>
    <key>iw</key>
	<string>Hebrew</string>
    <key>hi</key>
	<string>Hindi</string>
    <key>hu</key>
	<string>Hungarian</string>
    <key>is</key>
	<string>Icelandic</string>
    <key>id</key>
	<string>Indonesian</string>
    <key>ga</key>
	<string>Irish</string>
    <key>it</key>
	<string>Italian</string>
    <key>ja</key>
	<string>Japanese</string>
    <key>lv</key>
	<string>Latvian</string>
    <key>lt</key>
	<string>Lithuanian</string>
    <key>mk</key>
	<string>Macedonian</string>
    <key>ms</key>
	<string>Malay</string>
    <key>mt</key>
	<string>Maltese</string>
    <key>no</key>
	<string>Norwegian</string>
    <key>fa</key>
	<string>Persian</string>
    <key>pl</key>
	<string>Polish</string>
    <key>pt</key>
	<string>Portuguese</string>
    <key>ro</key>
	<string>Romanian</string>
    <key>ru</key>
	<string>Russian</string>
    <key>sr</key>
	<string>Serbian</string>
    <key>sk</key>
	<string>Slovak</string>
    <key>sl</key>
	<string>Slovenian</string>
    <key>es</key>
	<string>Spanish</string>
    <key>sw</key>
	<string>Swahili</string>
    <key>sv</key>
	<string>Swedish</string>
    <key>th</key>
	<string>Thai</string>
    <key>tr</key>
	<string>Turkish</string>
    <key>uk</key>
	<string>Ukrainian</string>
    <key>vi</key>
	<string>Vietnamese</string>
    <key>cy</key>
	<string>Welsh</string>
    <key>yi</key>
	<string>Yiddish</string>
</dict>
</plist>
